<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mdove.civilservantcommunity">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TransparentTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".feed.MainFeedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <activity-->
        <!--            android:name=".test.TestMainLauncherActivity"-->
        <!--            android:theme="@style/MyAppTheme"-->
        <!--            android:screenOrientation="portrait">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <activity
            android:name=".test.TestSingleInstanceLauncherActivity"
            android:launchMode="singleInstance"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".test.TestTopAffinityLauncherActivity"
            android:launchMode="singleTop"
            android:taskAffinity="app.mdove"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".test.TestSingleTaskLauncherActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyAppTheme" />
        <activity
            android:name=".test.TestSingleTaskAffinityLauncherActivity"
            android:launchMode="singleTask"
            android:taskAffinity="app.mdove.singletask"
            android:theme="@style/MyAppTheme" />

        <activity
            android:name=".roles.SelectRolesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppTheme" />

        <activity
            android:name=".feedback.FeedBackActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".plan.activity.HistoryPlansActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".setting.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".setting.hide.HideRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".plan.activity.TimeScheduleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".account.AccountActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MyAppTheme" />

        <activity
            android:name=".detailfeed.DetailFeedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ugc.MainUGCActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".question.DetailQuestionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".feed.MePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".account.UpdateUserInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/TransparentTheme" />

        <activity
            android:name=".plan.activity.EditPlanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver android:name=".plan.receiver.TimeScheduleReceiver">
            <intent-filter>
                <action android:name="mdove.time_schedule" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>